body {
    background-color: black;
}

nav {
    height: 75px;
    background-color: black;
    padding: 1%
}

.block_element{
    color: #BDCAF5;
    display: inline-block;
    vertical-align: top;
    font-family: manrope;
    font-size: 24px;
    font-weight: 200;
}

.inline-block {
    display: inline-block;
    padding: 15px;
}

h1 {
    font-family: Baskersville;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    color: #21806E;
    text-align: center;
}

h2 {
    font-family: Baskersville;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: #21806E
}

h3 {
    font-family: manrope;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #BDCAF5
}

.header_image {
    background-image: url(/images/dandelion.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 281px;
    width: 500px;
}

/* My skills section */

.mySkills {
  display: flex;
  height: 200px;
  width: 1000px;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.research, .brainstorm, .ideate, .design {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.research {
    background-image: url("/images/ListMagnifyingGlass.png");
    background-repeat:  no-repeat;
    background-position: center;
}

.brainstorm {
    background-image: url("/images/Lightbulb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ideate {
    background-image: url("/images/RainbowCloud.png");
    background-repeat: no-repeat;
    background-position: center;
}

.design {
    background-image: url("/images/PencilSimpleLine.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* My work section */
#myWork {
    font-family: manrope;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: #21806E;
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "opencloset"
    "deptlabor";
}

p {
    font-family: manrope;
    font-size: 20px;
    font-weight: 200;
    color: #BDCAF5;
}
